* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /*  font-size */
  --size-16: 1.6rem;
  --size-6: 0.6rem;
  --size-24: 2.4rem;
  --size-32: 3.2rem;
  --size-18: 1.8rem;
  --size-96: 9.6rem;
  --size-64: 6.4rem;
  --size-14: 1.4rem;
  --size-12: 1.2rem;
  --size-48: 4.8rem;
  --size-150: 15rem;
  --size-256: 25.6rem;
  --size-10: 10px;
  --size-128: 12.8rem;
  --size-175: 17.5rem;
  --size-400: 40rem;
  --size-500: 50rem;
  --size-512: 51.2rem;
  /*  color */
  --color-Pink: hsl(322, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-Very-Pale-Cyan: hsl(41, 100%, 97%);
  --color-Very-Dark-Cyan: hsl(192, 100%, 9%);
  --color-black: hsl(0, 0%, 4%);
  --color-Grayish-Blue: hsl(208, 11%, 55%);
  /*  gen  */
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--size-18);
}
html {
  font-size: 10px;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}
.dis-text {
  line-height: 1.3;
}
.section-2,
.section-3 {
  margin-top: var(--size-64);
}

/*   header  */
.nav-g {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  font-family: "Poppins", sans-serif;
  background-image: url(images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 95vh;
  display: grid;
  justify-content: center;
}
.img-head {
  width: 100%;
}
.grid {
  display: grid;
}
.grid-2-c {
  grid-template-columns: repeat(2, var(--size-512));
  gap: var(--size-64);
  justify-content: center;
  align-items: center;
}
.text-box-header {
  display: flex;
  flex-direction: column;
  gap: var(--size-32);
  width: 90%;

  align-items: flex-start;
}
.logo-header {
  width: var(--size-128);
}
.btn-nav {
  display: inline-block;
  padding: var(--size-12) var(--size-48);
  text-decoration: none;
}
.btn-nav:is(:link, :visited) {
  background-color: var(--color-Very-Pale-Cyan);
  box-shadow: 0 var(--size-6) var(--size-12) rgba(0, 0, 0, 0.15);
  border-radius: var(--size-32);
  color: var(--color-black);
  font-size: var(--size-16);
}
.btn-head {
  text-decoration: none;
}
.heading-dis {
  font-size: var(--size-16);
  font-weight: 400;
  color: var(--color-Very-Dark-Cyan);
}
.heading-primary {
  color: var(--color-Very-Dark-Cyan);
}
.btn-head:is(:link, :visited) {
  padding: var(--size-12) var(--size-48);
  background-color: var(--color-Pink);
  display: inline-block;
  border-radius: var(--size-32);
  color: var(--color-white);
}
/*  gen  */
/*  sectoin-1 */
.section-1 {
  display: grid;
  align-items: flex-end;
  justify-content: center;
  height: var(--size-400);
}
.grid-2-c-s {
  grid-template-columns: repeat(2, var(--size-512));
  gap: var(--size-96);
  justify-content: center;
  align-items: center;
}
.img-1 {
  width: 80%;
}
/* section-2 */
.section-2 {
  display: grid;
  align-items: flex-end;
  justify-content: center;
  height: var(--size-400);
}
/* section-3 */
.section-3 {
  display: grid;
  align-items: flex-end;
  justify-content: center;
  height: var(--size-400);
}
/*  footer  */
footer {
  position: relative;
  background-color: red;
  height: var(--size-400);
}
.footer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  justify-content: center;
  display: grid;
  gap: var(--size-128);
  grid-template-columns: 350px 150px 50px 100px;
}
.f-logo {
  width: var(--size-175);
}
.f-b-1 {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);
}
.f-f {
  display: flex;
  flex-direction: column;
  gap: var(--size-12);
  list-style: none;
}
a {
  text-decoration: none;
}
.phone,
.email {
  display: flex;
  gap: var(--size-16);
}
